{
  "version": 1,
  "applications": [
    {
      "app_id": "MMyAwesomeApp-C0o0G",
      "api_key": "MYAPIKEY",
      "tcell_input_url": "https://input.tcell.io/api/v1",
      "allow_payloads": true,
      "logging_options": {
          "enabled": true,
          "level": "DEBUG"
      }
    }
  ]
}
